<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template

-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Applicants</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Create user and search applicants</h1>
        <ul>
        <li th:each="applicant:${applicant}">
            <a th:href="@{/applicant/{item}(item=${applicant.name}) }"  th:text="${applicant.name}">applicant</a> (
            <span th:href="@{/applicant/{item}(item=${applicant.profession}) }"  th:text="${applicant.profession}">profession</span>) <br>
            <span th:href="@{/applicant/{item}(item=${applicant.age}) }"  th:text="${applicant.age}">age</span>
            <form  method="post" action="/deleteapplicant">
                   <input type="hidden" id="applicant" name="applicantName" th:value="${applicant.name}">
                   <button type="submit">Delete</button>  
            </form>
        </li>
        </ul>
        <form method="get" action="/">
            <button>Back</button>
        </form>
        <form method="post" action="/applicant">
            <input type="text" name="applicantName" placeholder="New applicant" required>
            <input type="text" name="applicantProfession" placeholder="Profession" required>
            <input type="text" name="applicantAge" placeholder="Age" required>
            <button>Add user</button>
        </form>
    </body>
</html>
